<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>여행 블로그</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<!-- 헤더 시작 -->
<header>
    <div th:insert="fragments/header :: headerFragment"></div>
</header>
<!-- 헤더 시작 -->

<!-- 바디 시작 -->
<section class="main">
    <div class="top-container">
<!--        <div th:insert="fragments/main :: mainFragment"></div>-->
        <div class="main-img">
            <div class="img-container">
                <img th:src="@{/img/main.jpeg}" alt="여행 이미지">
                <div class="centered-text">여행 블로그</div>
            </div>
        </div>
    </div>

    <div class="inner">
        <h2> 메인 메뉴 </h2>
    </div>
    <div class="posts">
<!--        <div th:insert="fragments/post :: postFragment"></div>-->
        <div class="main-select">
            <div class="image-container">
                <a th:href="@{/share}">
                    <img th:src="@{/img/share.png}" alt="공유 이미지">
                    <div class="overlay">공유</div>
                </a>
            </div>
            <div class="image-container">
                <a th:href="@{/plan}">
                    <img th:src="@{/img/plan.png}" alt="계획 이미지">
                    <div class="overlay">계획</div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- 바디 끝 -->

<footer>
    <div th:insert="fragments/footer :: footerFragment"></div>
</footer>

</body>

</html>